*{
    padding :0;
    margin  :0;
}

.logo{
    position: relative ;
    width: auto;    
    height: auto;
    background-repeat: repeat-x;
    background-size: cover;
    background-color:rgba(215,245,255,1);
    overflow: hidden;
}

.logo a{
    color: #7299BA;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 3vw;
    font-family: 'Segoe UI';
    font-style: bold;
}

.logo a:hover{
    background-color: #004080;
    color: white;
}

.logo img{
    max-width: 30vh;
}

body{
    background-image: url(../asset/Back.jpeg);
    background-size: cover;
    background-position: center;
}

body{
	font-family: 'Open Sans',sans-serif;
	background-color: black;
}
#container{
	width: 340px;
	height: 550px;
    margin: 20px auto;
    background-color: grey;
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #6699CC;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #B3C6A1;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #FFF275;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #FF8C42;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #A23E48;
}

footer{
    background-color: #183E69;
    width: auto;
    height: auto;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer table{
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer td{
    font-size: 3vh;
}

footer tr{
    width: 12vh;
}

footer a{
    color: white;
}