*{
    padding :0;
    margin  :0;
}

.logo{
    position: relative ;
    width: auto;    
    height: auto;
    background-repeat: repeat-x;
    background-size: cover;
    background-color:rgba(215,245,255,1);
    overflow: hidden;
    font-family: 'Segoe UI';
}

.logo a{
    color: #7299BA;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 3vw;
}

.logo a:hover{
    background-color: #004080;
    color: white;
}

.logo img{
    max-width: 30vh;
}

body{
    background-image: url(../asset/Back.jpeg);
    background-size: cover;
    background-position: center;
}

.Container{
    padding-left: 70px;
    padding-right: 70px;
    text-align: center;
    display: block;
}

.Boxed_Contenct{
    background-color:rgba(215,245,255,1);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 40px;
    width: 65vw;
    display: flex;
    border-radius: 20px 20px;
    height: auto;
    box-shadow: 5px 5px 20px;
}

.Text_D{
    font-size: 1.5vw;
    text-align: justify;
    padding: 0px 20px 20px;
}

.Text_h{
    line-height: 2.5em;
}
    
.Text_1{
    background-color: white;
    padding-right: 5px;
    height: auto;
    border-radius: 10px 10px;
    padding: 5px 10px 20px;
    line-height: 1.9em;
    
}


.Boxed_Contenct img{
    max-width: 30vh;
    min-width: 30vh;
    height: 34vh;
    margin-top: 3vh;
    padding: 10px;
}

.PemberiNomer{
    display: inline-block;
    margin-left: 68%;
    margin-top: 2%;
    box-shadow: 5px 5px 20px;
}

.PemberiNomer a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.PemberiNomer a.active {
    background-color: blue;
    color: white;
    border: 1px solid #ddd;
}

.videomateri{
    align-items: center;
    padding-top: 50px;
}
footer{
    background-color: #183E69;
    width: auto;
    height: auto;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer table{
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer td{
  font-size: 3vh;
}

footer tr{
  width: 12vh;
}

footer a{
  color: white;
}

@media screen and (max-width:1200px){
    .Boxed_Contenct{
        width: 90vh;
        display: flex;
        border-radius: 20px 20px;
        height: 45vh;
        box-shadow: 5px 5px 20px;       
    }
    .Text_1{
        padding-right: 5px;
        height: 30vh;
        border-radius: 10px 10px;
        padding: 5px;
        
    }
}
@media screen and (max-width: 960px){
    .Boxed_Contenct{
        width: 80vh;
        display: flex;
        border-radius: 20px 20px;
        height: 35vh;
        box-shadow: 5px 5px 20px;
    }
    .Text_1{
        padding-right: 5px;
        height: 20vh;
        border-radius: 10px 10px;
        padding: 5px;
        overflow: hidden;
    }
}